
/***********************************************


                     Layout


***********************************************/

body {
   margin: 0 auto;
   * {
       font-family: Georgia, Verdana, 'Yu Gothic', 'YuGothic', sans-serif;
       font-weight: 550;
   }

   #header {
      z-index: 1;
      position: fixed;
      width: 100%;
      background-color: #24080a;
      box-shadow: 0 1px 5px #330000
   }

   #main {
      width: 100%;

      * { color: #1f0c0a; }

      div.main-content {
         padding: 65px 40px;
         text-align: center;

         h3.content-header {
            display: block;
            width: 100%;
            font-size: 40px;
            margin-bottom: 65px;

            i { margin-right: 12px; }
         }

         div.content-elements {
            width: 100%;
         }
      }

      hr {
         width: 100%;
         size: 1;
         color: #b3b3b3;
      }
   }

   #footer {
      background-color: #24080a;
      padding: 30px 0 60px 0;
      text-align: center;
   }
}

@media all and (min-width: 768px){
   body {
      #main {
         div.main-content {
            overflow: hidden;
            padding: 65px 80px;
            h3.content-header {
               float: left;
               width: 35%;
               margin-bottom: 0;
            }

            div.content-elements {
               float: right;
               width: 60%;
            }
         }
      }
   }
}

@media all and (min-width: 992px) {
   body {
      min-width: 992px;
      #main {

         div.main-content {
            padding: 65px 60px;
            margin: 0 auto;
            min-width: 806px;
            max-width: 1000px;
            h3.content-header {
               width: 250px;
               font-size: 40px;
               text-align: left;
            }

            div.content-elements { width: calc(100% - 250px - 40px); }
         }
      }
   }
}

/***********************************************


                     Header


***********************************************/

#header {
   nav {
      margin: 0 30px;
      height: 49px;
      overflow: hidden;

      div#logos {
         float: left;
         margin: 16px 0 ;
         color: #ffffff;

         a {
             font-size: 21px;
             color: #ffffff;
             text-decoration: none;
         }
         a#main-logo { display: none;}
         a#collapsed-logo { display: block; }
      }

      ul#navbars {
         float: right;
         overflow: hidden;
         height: inherit;
         li {
            display: block;
            float: left;
            vertical-align: middle;
            height: inherit;
            background-color: #ffffff;

            a {
               display: block;
               height: 49px;
               padding: 0 13px;
               color: #ffffff;
               text-decoration: none;
               * { margin-top: 1rem; }
               span { display: none; }

               &:hover { opacity: 0.7 }
            }

            &:nth-child(1) { background-color: #24292e; }
            &:nth-child(2) { background-color: #4267b2; }
            &:nth-child(3) { background-color: #db4437; }
         }
      }
   }
}

@media all and (min-width: 576px) {
   #header {
      nav {
         ul#navbars {
            li {
               a {
                  i { margin-right: 6px; }
                  span { display: inline; }
               }
            }
         }
      }
   }
}

@media all and (min-width: 768px) {
   #header {
      nav {
         div#logos {
            a#main-logo { display: block;}
            a#collapsed-logo { display: none; }
         }
      }
   }
}

/***********************************************


                     Footer


***********************************************/

#footer {
   ul#copyrights {
      li {
         margin-top: 8px;
         font-size: 14px;
         color: #999999;
      }
   }
}

@media all and (min-width: 576px) {
   #footer {
      ul#copyrights {
         li { display: inline; }
      }
   }
}

/***********************************************


                     Top


***********************************************/

#main {

   #top {
      position: relative;
      height: 700px;
      background-image: url("../images/top_background.png");
      background-size: cover;
      background-repeat: no-repeat;

      #filter {
         height: 100%;
         background-color: rgba(0, 0, 0, 0.7);

         div#top-items {
            position: absolute;
            top: 150px;
            width: calc(100% - 70px);
            text-align: center;
            left: 35px;
            right: 35px;
            * { color: #ffffff; }
            > * { margin-bottom: 18px; }

            h1#title {
               font-size: 48px;
               line-height: 130%;
            }
            h2#trans-nickname {
               font-size: 25px;
               line-height: 130%;
            }

            ul#top-menus {
               margin: 50px auto;
               li.menu {
                  display: inline-block;
                  margin: 30px 10px;
                  a {
                     text-decoration: none;
                     border: 1px solid #e6e6e6;
                     position: relative;
                     display: block;
                     width: 90px;
                     text-align: center;
                     padding: 29px 0 12px 0;
                     i {
                        display: block;
                        width: 40px;
                        font-size: 27px;
                        background-color: #808080;
                        padding: 5px 0;
                        border-radius: 12px;
                        position: absolute;
                        top: -19px;
                        left: calc(50% - 20px);
                        text-align: center;
                     }
                  }

                  &:hover {
                     background-color: #e6e6e6;
                     * { color: #808080; }
                     i { background-color: #e6e6e6; }
                  }
               }
            }
         }
      }
   }
}

@media all and (min-width: 768px) {
   #main {
      #top {
         #filter {
            div#top-items {
               margin: 0 auto;
               top: 270px;
               left: 0;
               right: 0;
            }
         }
      }
   }
}

/***********************************************


                     Profile


***********************************************/

#profile {
   #profile-content {
      img {
         margin: 0 auto 20px auto;
         border: 3px solid #4f4240;
         border-radius: 8px;
         width: 160px;
      }

      #details {
         width: 100%;
         text-align: left;
         * { font-weight: 500; }
         #trans-description {
            margin-top: 8px;
            line-height: 150%;
         }

         #career { display: none; }
      }
   }
}

@media all and(min-width: 992px) {
   #profile {

      #profile-content {
         overflow: hidden;
         img { float: left; }

         #details {
            float: right;
            width: calc(100% - 180px - 50px);
            #description {
               p {
               }
            }
         }
      }
   }
}

/***********************************************


                     Skills


***********************************************/

#skills {
   .skill-row {
      .skill-box {
         width: calc(100% - 50px);
         display: block;
         border: 1px solid #b3b3b3;
         border-radius: 4px;
         padding: 20px 24px;
         margin-bottom: 45px;

         p.header {
            font-weight: bold;
            font-size: 21px;
            padding-bottom: 14px;
            border-bottom: 1px solid #b3b3b3;
         }

         ul {
            li {
               width: 100%;
               text-align: center;
               display: block;
               margin-top: 38px;
               img { height: 60px; }
               span {
                  margin-top: 14px;
                  display: block;
               }
            }
         }

         &:last-child { margin: 0; }
      }
   }
}

@media all and(min-width: 478px) {
   #skills {
      .skill-row {
         .skill-box {
            ul {
               text-align: center;
               li {
                  width: auto;
                  display: inline-block;
                  margin: 27px;
                  img { height: 69px; }
               }
            }
         }
      }
   }
}

/***********************************************


                     Works


***********************************************/

#works {
   .work-row {
      .work-box {
         width: 100%;
         box-sizing: content-box;
         display: inline-block;
         border: 1px solid #b3b3b3;
         border-radius: 4px;
         margin-bottom: 45px;

         div.thumbnail {
            text-align: center;
            background-color: #cdcdcd;
            img {
               max-width: 240px;
               max-height: 240px;
            }
         }

         div.description {
            width: calc(100% - 50px);
            padding: 15px 24px 20px 24px;

            h3 {
               font-weight: bold;
               font-size: 24px;
               padding: 3px 0 14px 0;
               border-bottom: 1px solid #b3b3b3;
               margin-bottom: 22px;
            }
            p, ul {
               text-align: left;
               font-weight: 500;
            }
            p {
               margin-top: 7px;
               line-height: 160%;
               font-size: 15px;
            }
            ul {
               margin-top: 19px;
               * { font-weight: 500; }
               li {
                  margin: 10px 0;
                  font-size: 14px;
                  span { font-weight: 550; }
               }
            }
         }
      }
   }
}

@media all and (min-width: 650px) {
   #works {
      .work-row {
         .work-box {
            overflow: hidden;

            div.thumbnail {
               float: left;
               border-radius: 6px;
               margin: 24px 0 0 24px;
               img {
                  border-radius: 6px;
                  width: 240px;
                  height: 240px;

               }
            }

            div.description {
               float: right;
               width: calc(100% - 320px);
            }
         }
      }
   }
}

@media all and (min-width: 768px) {
   #works {
      .work-row {
         .work-box {

            div.thumbnail {
               width: 100%;
               border-radius: 0;
               margin: 0;
               img {
                  border-radius: 0;
                  max-width: 240px;
                  max-height: 240px;
               }
            }

            div.description {
               width: calc(100% - 50px);
            }
         }
      }
   }
}

@media all and (min-width: 992px) {
   #works {
      .work-row {
         .work-box {
            overflow: hidden;

            div.thumbnail {
               float: left;
               border-radius: 6px;
               margin: 24px 0 0 24px;
               width: 240px;;
               img {
                  border-radius: 6px;
                  width: 238px;
                  height: 238px;
               }
            }

            div.description {
               float: right;
               width: calc(100% - 320px);
            }
         }
      }
   }
}

/***********************************************


                     Contact


***********************************************/

#contact {
   div.contact-info {
      margin: 30px auto;
      * { display: block; }
      i {
         font-size: 34px;
         margin: 0 0 11px 0;
      }
      p, a { font-size: 22px; }
   }
}

@media all and (min-width: 768px) {
   #contact {
      div.contact-info {
         text-align: left;
         * { display: inline-block; }
         i { margin: 0 8px 0 0; }
      }
   }
}

@media all and (min-width: 992px) {
   #contact {
      div.contact-info { margin-left: 125px; }
   }
}
